@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?efebty');
  src:  url('fonts/icomoon.eot?efebty#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?efebty') format('truetype'),
    url('fonts/icomoon.woff?efebty') format('woff'),
    url('fonts/icomoon.svg?efebty#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-verified:before {
  content: "\e902";
}
.icon-th-menu:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-link:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-facebook-square:before {
  content: "\e907";
}
.icon-moon-o:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
