

/*=================================*/

header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.4rem;
  align-items: center;
  margin-top: 1.3rem;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav {
  box-shadow: 1px 1px 20px rgb(18, 17, 17);
  background-color: var(--bgheader);
  padding: 0.77rem 1.6rem;
  border-radius: 50px;
}
header ul li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  font-weight: 500;
  transition: 0.3s;
}
header ul li a:hover {
  color: var(--bleu);
}
header button.menu {
  display: none;
}


header .parent ul.modal {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: var(--secondary);
  animation: showmodel 0.7s 1;
}

@keyframes showmodel {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}


/*  icons button*/

header .mode,header .menu{
  color: var(--subtitle);

height: 2.4rem;
width: 2.4rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 50%;
border: 1px solid transparent;
transition: 0.3s;
font-size: 1.6rem;
}

header .icon-th-menu:hover{
  color: var(--title);
border: 1px solid rgb(255, 144, 131);

}
header .mode:hover{
  color: var(--title);
  border: 1px solid rgb(255, 144, 131);
}
/* ennnnd  icons button*/









header .parent ul.modal li {
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.8rem;
  padding-top: 0.5rem;
}

header .parent ul.modal li:last-child {
  border: none;
}

header .parent ul.modal li a {
  font-size: 1rem;
}
header .parent ul.modal li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0rem;
  margin-bottom: -1rem;
}




header .parent {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(96, 96, 97, 0.466);
  z-index: 99;
  backdrop-filter: blur(6px);
}



@media (max-width: 650px) {
  header nav {
    display: none;
  }
  header button.menu {
    display: block;
  }
}
